.container{
    max-width: 800px;
    height: 600px;
    margin: 5em auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    background: rgb(12, 58, 2);
}

form{
    padding: 10%;
    margin: 5%;
    border:5%;
}

mat-form-field {
    padding-top: 3%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: yellow;
    display: block;    
}

input {
    color: AliceBlue;
    font-family:'Times New Roman', Times, serif !important;
    font:italic !important;
 }

.invalid-feedback{
    color : orangered;
} 
button{
   /* display: block;
    width: 30%; */
                         
    padding: 20px;                  
    border-radius: 10px;

    margin: 8px 6px;
    background: rgb(132, 188, 226) !important;
    opacity: 0.6;
}

button:hover {
    opacity: 1 !important;
  }

.fab {
    padding: 15px;
    font-size: 23px
}

.fa-facebook {
    color: #0303d9bf
}

.fa-twitter {
    color: #0078fade
}

.fa-linkedin {
    color: #18b1c0
}

.fa-faFaceFrown {
    color: yellow
}
