.container{
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid;
    background: lightcoral;
}

form{
    padding: 5%;
    margin: 5%;
    border:5%;
}
mat-form-field {
    display: block;
}

button{
   /* display: block;
    width: 30%; */
                         
    border-radius: 30px;
    background: linear-gradient(to right, rgba(249, 0, 104, 1) 0%, rgba(247, 117, 24, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(249, 0, 104, 1) 0%, rgba(247, 117, 24, 1) 100%)
}
.buttonClass{
    text-align: center;   
}

.fab {
    padding: 15px;
    font-size: 23px
}

.fa-facebook {
    color: #0303d9bf
}

.fa-twitter {
    color: #0078fade
}

.fa-linkedin {
    color: #18b1c0
}

.fa-faFaceFrown {
    color: yellow
}
