.container{
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    background: rgb(226, 170, 132);
}

form{
    padding: 5%;
    margin: 5%;
    border:5%;
}
mat-form-field {
    display: block;
}

button{
   /* display: block;
    width: 30%; */
                         
    padding: 20px;                  
    border-radius: 10px;

    margin: 8px 6px;
    background: rgb(132, 188, 226) !important;
    opacity: 0.6;
}

button:hover {
    opacity: 1 !important;
  }

.fab {
    padding: 15px;
    font-size: 23px
}

.fa-facebook {
    color: #0303d9bf
}

.fa-twitter {
    color: #0078fade
}

.fa-linkedin {
    color: #18b1c0
}

.fa-faFaceFrown {
    color: yellow
}
